* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: #000;
}

.circle {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border: 20px solid rgb(255, 43, 71);
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 37%;
}

.one {
    animation: circle 4s infinite linear;
}

.two {
    animation: circle 3s infinite linear;
}

.three {
    animation: circle 2s infinite linear;
}

@keyframes circle {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(8);
    }
}